@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

code span {
  font-family: 'Source Code Pro', monospace !important;
  font-size: 14px !important;
  letter-spacing: 0px;
}

.navigation {
  display: none;
}

#book-search-input {
  margin-bottom: 30px;
}

.markdown-section * {
  font-size: 15px;
  line-height: 24px;
}

.markdown-section li {
  margin: 10px 0px;
}

.page-inner {
  max-width: 700px;
}

.book-summary ul.summary li a:hover {
  text-decoration: none;
}

.markdown-section hr {
  height: 1px;
}

.chapter {
  font-size: 15px;
}

.book-summary ul.summary li.active>a {
  color: #1e2127;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
  border-right: 2px solid #1e2127;
}

.gitbook-link {
  display: none !important;
  opacity: 0;
}

.divider {
  display: none !important;
  opacity: 0;
}

h1>a {
  display: none;
}

.book-header .btn {
  display: none;
}

@media screen and (max-width: 400px) {
  .book-header .btn {
    display: block;
  }
}
